body {
    font-family: sans-serif;
    color: cornsilk;
}

.all-items {
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.square1 {
    border: 1px;
    margin: 0px;
    padding: 30px;
    padding-bottom: 0;
    background-color: rgb(235, 140, 62);
    width: 15%;
}

.square2 {
    border: 1px;
    margin: 0px;
    padding: 30px;
    padding-bottom: 0;
    background-color: rgb(6, 118, 138);
    width: 15%;
}

.square3 {
    border: 1px;
    margin: 0px;
    padding: 30px;
    padding-bottom: 0;
    background-color: rgb(3, 151, 70);
    width: 15%;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    background-color: cornsilk;
    text-align: center;
}

a {
    text-decoration-line: none;
}